.customers {
  display: flex;
  flex-direction: column;
  width: 320px;
  @include for-large-up {
    width: 1140px;
    margin: auto;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 106px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  &__row {
    display: flex;
    @include for-large-up {
      display: flex;
      flex: 1;
      justify-content: space-around;
    }
  }
  &__item {
    height: 94px;
    width: 107px;
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    &:last-child {
      border-right: none;
    }
    @include for-large-up {
      border: none;
    }
  }
  &__logo {
    max-width: 80%;
    filter: brightness(0);
  }
}
